body {
    background: hsl(229, 57%, 11%);
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    background-image: url(./images/bg-desktop.png);
    background-size: cover;
    background-position: bottom center;
    background-size: 100% 54%;
    background-repeat: no-repeat;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    display: flex;
    padding-top: 40vh;
    
}

.control {
    display: flex;
    flex-direction: column;
    background: hsl(228, 56%, 26%);
    max-width: fit-content;
    justify-content: space-evenly;
    border-top-right-radius: 5rem;
    margin-right: 2rem;
    margin-left: 20%;
    padding-right: 6rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;
    height: 160px;
}

.logo {
    padding-bottom: 1rem;
    padding-left: 1rem;
    height: 3rem;
    width: 6rem;
}

.storage-text {
    display: flex;
    background: hsl(228, 56%, 26%);
    width: max-content;
    color: hsla(227, 11%, 75%, 0.973);
    font-size: 14px;
}

.storage-text strong {
    font-weight: 600;
}

.gauge {
    display: flex;
    
}

.progress {
    background: hsl(229, 57%, 11%);
    padding-right: 1rem;
}

.progress-bar {
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.progress-with-dot{
    position: relative;
    height: 20px;
}

.progress-with-dot .progress-bar {
    position: relative;
}

.progress-dot {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    right: -1px;
}

.graph {
    display: flex;
    flex-direction: column;
    background: hsl(228, 56%, 26%);
    border-radius: .7rem;
    width: 30vw;
    height: 140px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    margin-top: 1.3rem;
    position: relative;
}

.atoz {
    display: flex;
    justify-content: space-between;
}

.attribution {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.badges {
    display: flex;
    padding-left: 1rem;
    width: max-content;
    justify-content: space-around;
}

.button1, .button2, .button3 {
    background: hsl(229, 57%, 11%);
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    margin: 5px;
}

.button1 > img, .button2 > img, .button3 > img {
    width: 1rem;
    height: 1rem;   
}

.storage-header {
    position: absolute;
    right: 35px;
    top: -40px;
    background: hsl(0, 0%, 100%);
    padding: 12px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px hsla(0, 0%, 0%, 0.15);
    display: flex;
    align-items: baseline;
    gap: 6px;
}

.storage-header::before {
    content: '';
    position: absolute;
    bottom: -12px;
    right: 0px; 
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
    border-top: 20px solid hsl(0, 0%, 100%);
}

.storage-amount {
    font-size: 28px;
    font-weight: bold;
    color: hsl(229, 57%, 11%);
}

.storage-unit {
    font-size: 11px;
    color: hsl(220, 9%, 46%);
    font-weight: 600;
    letter-spacing: 0.5px;
}